<!-- <p>footer works!</p> -->

<div class="bg-light p-2">

    <div class="container">
        <h5> Get the Fresh Cart App</h5>
        <p class="text-dark"> we will send you a link open it and download app</p>

        <form class="row g-3">
          
            <div class="col-8">
              <label for="mail" class="visually-hidden">E-mail</label>
              <input type="email" class="form-control" id="mail" placeholder="E-mail">
            </div>
            <div class="col-4">
              <button type="submit" class="btn btn-success mb-3">Get App Link</button>
            </div>
          </form>
    </div>
    
</div>
