<!-- <p>navbar works!</p> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <img src="assets/images/freshcart-logo.svg">
      <!-- <a class="navbar-brand" href="#">FreshCart</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="home" routerLinkActive="bg-success text-white rounded-2">Home</a>
          <a class="nav-link" routerLink="products" routerLinkActive="bg-success text-white rounded-2">Products</a>
          <a class="nav-link" routerLink="categories"routerLinkActive="bg-success text-white rounded-2">categories</a>
          <a class="nav-link" routerLink="brands"routerLinkActive="bg-success text-white rounded-2">brands</a>
          <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
        </div>
        <div class="d-flex gap-3 align-items-center">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-instagram"></i>
            <a class="nav-link" routerLink="register"routerLinkActive="bg-success text-white rounded-2">Register</a>
            <a class="nav-link" routerLink="login"routerLinkActive="bg-success text-white rounded-2">Login</a>
            <a class="nav-link" href="#">Logout</a>
        </div>
      </div>
    </div>
  </nav>
